{% extends 'base.html' %}
{% import 'ui/admin_page.html' as macros %}
{% block css %}
    <style>
        .padding-defined {
            padding-left: 10px;
            padding-right: 0px;
        }

        .margin-defined {
            margin-top: 10px;
            margin-left: 10px;
        }

        .margin-defined-2 {
            margin-top: 10px;
            margin-left: 0px;
        }
    </style>
{% endblock %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('home.customer_list') }}"><i class="fa fa-dashboard"></i> 客户列表</a></li>
            <li class="active"> 客户会员卡明细</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label for="cus_name">客户姓名</label>
                                <input class="form-control" id="cus_name" name="cus_name" readonly="readonly" type="text" value={{ obj_vip.customer[0].name }}>
                            </div>
                            <div class="form-group">
                                <label for="name">会员卡名称</label>
                                <input class="form-control" id="name" name="name" readonly="readonly" type="text" value={{ obj_vip.name }}>
                            </div>
                            <div class="form-group">
                                <label for="payment">卡内余额</label>
                                <input class="form-control" id="balance" name="balance" readonly="readonly" type="text" value={{ obj_vip.balance }}>
                            </div>

                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label for="scorerule">积分规则</label>
                                <label for="input_scorerule" class="badge bg-green" data-toggle="tooltip"
                                       title="积分=消费金额*积分规则">?</label>
                                <input class="form-control" id="scorerule" name="scorerule" readonly="readonly" required type="text" value={{ obj_vip.scorerule }}>
                            </div>
                            <div class="form-group">
                                <label for="scorelimit">积分上限</label>
                                <label for="input_scorerule" class="badge bg-green" data-toggle="tooltip"
                                       title="积分积攒到上限，可消耗积分额度升级会员卡等级">?</label>
                                <input class="form-control" id="scorelimit" name="scorelimit"  readonly="readonly" type="text" value={{ obj_vip.scorelimit }}>
                            </div>
                            <div class="form-group">
                                <label for="payment">卡内积分</label>
                                <input class="form-control" id="balance" name="balance" readonly="readonly" type="text" value={{ obj_vip.score }}>
                            </div>

                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <label for="interval">开卡时间</label>
                                <input class="form-control" id="addtime" name="addtime" readonly="readonly" type="text" value={{ obj_vip.addtime }}>
                            </div>
                            <div class="form-group">
                                <label for="interval">截止时间</label>
                                <input class="form-control" id="endtime" name="endtime" readonly="readonly" type="text" value={{ obj_vip.endtime }}>
                            </div>

                        </div>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table id="ex1" class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <th> 编号</th>
                                <th> 商品/服务</th>
                                <th> 原售价</th>
                                <th> 优惠价</th>
                                <th> 使用次数</th>
                                <th> 优惠开始时间</th>
                                <th> 优惠结束时间</th>
                            </tr>
                            {% for v in obj_vip_details %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.item.name }}</td>
                                    <td>{{ v.item.salesprice }}</td>
                                    <td>{{ v.discountprice }}</td>
                                    <td>{{ v.quantity }}</td>
                                    <td>{{ v.addtime }}</td>
                                    <td>{{ v.endtime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="box-footer">
                            <a href="{{ url_for('home.customer_list') }}" class="btn btn-default pull-right"
                               role="button"> 返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-customer").addClass("active");
            $("#g-customer-list").addClass("active");
            //只要遇到radio,checkbox 直接转换为icheck
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
            });
        })
    </script>
{% endblock %}