{% extends 'base.html' %}
{% import 'ui/admin_page.html' as macros %}

{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 客户管理</a></li>
            <li class="active"> 客户列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> 客户列表</h3>
                        <div id="toolbar" class="box-tools">
                            <div class="pull-left border-right">
                                <a href="{{ url_for('home.customer_add') }}" class="btn btn-primary btn-sm" role="button">
                                    添加</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive" >
                        <table id="tb_customers"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 微信二维码!-->
        <div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="wechatModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h2 class="modal-title" id="wechatModalLabel"><i class="fa fa-wechat mr1em"></i> 顾客绑定微信</h2>
                    </div>
                    <div class="modal-body">
                        <p> <strong>绑定方式：</strong>让顾客打开微信，扫描下方二维码后关注公众号</p>
                        <div class="box" align="center" id="wechat-qrcode">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        //当前点击行数据
        var oRow = null;
        //当前点击行索引
        var oIndex = null;

        $(document).ready(function () {
            //初始化Table
            var oTable = new TableInit();
            oTable.Init();

            $("#g-customer").addClass("active");
            $("#g-customer-list").addClass("active");

            // 微信绑定
            $(".box-body").delegate(".customer-wechat","click",function(){
                //获取父元素第一个兄弟的text，就是id
                let customer_id = oRow.id;
                let appendId = $('#wechat-qrcode');
                let url = "{{ url_for('wechat.qrcode_get') }}";
                modal_wechat_qrcode(appendId, url, customer_id);
                //显示modal
                $('#wechatModal').modal();
            });

            $("a[name='btn-wechat']").on("click", function() {

            });

            {#Prefilters是一个预过滤器，在每个请求之前被发送和$.ajax()处理它们前处理。#}
            {#options 是请求的选项#}
            {#originalOptions 值作为提供给Ajax方法未经修改的选项，因此，没有ajaxSettings设置中的默认值#}
            {#jqXHR 是请求的jqXHR对象#}
            {#核心思想是维护一个队列，发送请求时，将请求加入队列，请求响应后，从队列中清除，这就保证了在任一时刻只能有一个同样的请求发送.#}
            {#调用abort后jquery会执行error的方法，抛出abort的异常信息。#}
            {#按钮每次点击都会向后端发送请求，下面的demo实现了多次点击按钮之后，只保证最后一次点击的请求能够成功。#}
            let pendingRequests = {};
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                let key = options.url;
                console.log(key);
                console.log(!pendingRequests[key]);
                if (!pendingRequests[key]) {
                    pendingRequests[key] = jqXHR
                } else {
                    //jqXHR.abort();    //放弃后触发的提交
                    pendingRequests[key].abort()   // 放弃先触发的提交
                }

                let complete = options.complete;
                options.complete = function (jqXHR, textStatus) {
                    pendingRequests[key] = null;
                    if (jQuery.isFunction(complete)) {
                        complete.apply(this, arguments)
                    }
                }
            });
        })

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_customers').bootstrapTable({
                    url: '{{ url_for('home.customer_list') }}', //请求后台的URL（*）
                    method: 'POST',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    //sortName: "id",                     //排序字段
                    sortable: true,                     //是否启用排序
                    sortOrder: "desc",                   //排序方式
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 50,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,                //设置为 true启用全匹配搜索，否则为模糊搜索。
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表

                    //导出excel表格设置
                    showExport: true,                    //是否显示导出按钮
                    exportTypes:['xls','xlsx','csv'],   //导出文件类型
                    exportDataType:'all',                //导出表格方式 默认导出当前页
                    exportOptions:{
                        //ignoreColumn: [0,1],  //忽略某一列的索引
                        fileName: '客户清单',  //文件名称设置
                        worksheetName: 'Sheet1',  //表格工作区名称
                        tableName: '客户清单',
                        excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
                        //onMsoNumberFormat: DoOnMsoNumberFormat
                    },
                    onClickCell :function(field, value, row, $element) {
                        oRow = row;
                        oIndex = $element.parent().data('index');
                    },
                    columns: [ {
                        field: 'id',
                        title: '编号',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'name',
                        title: '姓名',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'sex',
                        title: '性别',
                        valign: 'middle'
                    }, {
                        field: 'phone',
                        title: '手机号',
                        valign: 'middle'
                    }, {
                        field: 'freq',
                        title: '到店次数',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'summary',
                        title: '累计消费',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'pnumber',
                        title: '车牌号',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'brand',
                        title: '品牌类型',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'email',
                        title: '邮箱',
                        valign: 'middle'
                    },{
                        field: 'user_name',
                        title: '客户经理',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'vip_name',
                        title: '会员卡',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'operate',
                        title: '操作',
                        valign: 'middle',
                        formatter: operateFormatter //自定义方法，添加操作按钮
                    },]
                });
            };

            return oTableInit;
        };

        function operateFormatter(value, row, index) {//赋予的参数
            var operation = "";
            var roles = "{{ roles }}";
            var admin = "{{ session.get('is_admin')}}";
            if ((roles.match('customer_wechat')||(admin == "1")) ){
                operation += '<a name="btn-wechat" class="label customer-wechat label-default">微信</a>';
            }
            if ((roles.match('customer_edit')||(admin == "1"))){
                operation += '<a href="/customer/cus_edit/'+row.id+'" class="label label-success">修改</a>';
            }
            if (row.vip_name!='')
            {
                if ((roles.match('cus_vip_list')||(admin == "1"))){
                    operation += '<a href="/customer/cus_vip_list/'+row.vip_id+'" class="label label-danger">查询</a>';
                }
                if ((roles.match('cus_vip_deposit')||(admin == "1")) ){
                    operation += '<a href="/customer/cus_vip_deposit/'+row.vip_id+'" class="label label-warning">充值</a>';
                }
                if (row.score - row.scorelimit > 0)
                {
                    if ((roles.match('cus_vip_update')||(admin == "1")) ){
                        operation += '<a href="/customer/cus_vip_update/'+row.vip_id+'" class="label label-primary">升级</a>';
                    }
                }
            }
            else
            {
                if ((roles.match('cus_vip_add ')||(admin == "1")) ){
                    operation += '<a href="/customer/cus_vip_add/'+row.id+'" class="label label-danger">绑卡</a>';
                }
            }

            return operation;
        }

    </script>
{% endblock %}