{% extends "base.html" %}
{% block page_content %}
    <section class="content-header">
    </section>

    <section class="content container-fluid">
        <div class="box box-success">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="fa fa-comments-o"></i>

                <h3 class="box-title">留言簿</h3>

                <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                    <div class="btn-group" data-toggle="btn-toggle">
                        <button type="button" class="btn btn-default btn-sm active"><i
                                class="fa fa-square text-green"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                <div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto; height: 250px;">
                    <!-- chat item -->
                    <div class="item">
                        <img src="{{ url_for('static', filename='dist/img/user4-128x128.jpg') }}" alt="user image" class="online">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15</small>
                                刘小乾
                            </a>
                            快速收银功能用着不错
                        </p>

                    </div>
                    <!-- /.item -->
                    <!-- chat item -->
                    <div class="item">
                        <img src="{{ url_for('static', filename='dist/img/user3-128x128.jpg') }}" alt="user image" class="offline">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                                田小龙
                            </a>
                            希望微信分销模块能早点上线
                        </p>
                    </div>
                    <!-- /.item -->
                    <!-- chat item -->
                    <div class="item">
                        <img src="{{ url_for('static', filename='dist/img/user7-128x128.jpg') }}" alt="user image" class="offline">

                        <p class="message">
                            <a href="#" class="name">
                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                王小米
                            </a>
                            小程序能测试一下嘛？
                        </p>
                    </div>
                    <!-- /.item -->
                </div>
                <div class="slimScrollBar"
                     style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 184.911px;"></div>
                <div class="slimScrollRail"
                     style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
            <!-- /.chat -->
            <div class="box-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="请留言...">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-index").addClass("active")
        })
    </script>
{% endblock %}