{% extends 'base.html' %}
{% import 'ui/admin_page.html' as macros %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 设置</a></li>
            <li class="active">
                {% if type == 0 %}
                商品分类
                {% else %}
                服务项目分类
                {% endif %}
            </li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                        {% if type == 0 %}
                         商品列表
                        {% else %}
                         服务项目列表
                        {% endif %}
                        </h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...  (名称/规格/备注)" id="search_key" value="{{ key }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="do_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th> 编号</th>
                                <th> 名称</th>
                                <th> 销售价</th>
                                <th> 单位</th>
                                <th> 规格</th>
                                <th> 状态</th>
                                <th> 备注</th>
                            </tr>
                            {% for v in pagination.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.salesprice }}元</td>
                                    <td>{{ v.unit }}</td>
                                    <td>{{ v.standard }}</td>
                                    {% if v.valid == 1 %}
                                    <td> 有效</td>
                                    {% else %}
                                    <td> 无效</td>
                                    {% endif %}
                                    <td>{{ v.remarks }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {{ macros.pagination_widget(pagination, 'home.item_list', type=type, key=key) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-is").addClass("active");
            type = {{ type }};
            if (type == 0) {//商品
                $("#g-is-item").addClass("active");
            }else{//服务项目
                $("#g-is-service").addClass("active");
            }
            // 搜索按钮
            $("#do_search").click(function () {
                var key = $("#search_key").val();
                location.href = "{{ url_for('home.item_list', type=type) }}?key=" + key;
            })
            $("#search_key").bind("keyup", function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    var key = $("#search_key").val();
                    location.href = "{{ url_for('home.item_list',  type=type) }}?key=" + key;
                }
            })
        })
    </script>
{% endblock %}