{% extends 'base.html' %}
{% block css %}
    <style>
        .first-padding-defined {
            padding-left: 10px;
            padding-right: 0px;
        }

        .padding-defined {
            padding-left: 10px;
            padding-right: 0px;
        }

        .margin-defined {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
{% endblock %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 收银管理</a></li>
            <li><a href="{{ url_for('home.order_list') }}"> 收银单列表</a></li>
            <li class="active"> 结款修改</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form role="form" method="post">
                        <!--启动CSRF-->
                        {{ form.hidden_tag() }}
                        <div class="box-header with-border">
                            <h3 class="box-title"> 收银单 - {{ order.id }}</h3>
                            <div class="row" style="margin-bottom: 5px">
                                <div class="col-md-2 first-padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">客户</span>
                                        {{ form.customer_name }}
                                    </div>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">手机</span>
                                        {{ form.customer_phone }}
                                    </div>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">车牌</span>
                                        {{ form.customer_pnumber }}
                                    </div>
                                </div>
                                <div class="col-md-3 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">车型</span>
                                    {{ form.customer_brand }}
                                    </div>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">支付方式</span>
                                    {{ form.paywith }}
                                    </div>
                                    {% for err in form.paywith.errors %}
                                        <div class="col-md-12">
                                            <p style="color: red" class="small">{{ err }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 5px">
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">会员</span>
                                        {{ form.vip_id }}
                                    </div>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">卡型</span>
                                    {{ form.vip_name }}
                                    </div>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">余额</span>
                                    {{ form.customer_balance }}
                                    </div>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">积分</span>
                                        {{ form.customer_score }}
                                    </div>
                                </div>
                                <div class="col-md-3 padding-defined">
                                    <div class="input-group">
                                        <span class="input-group-addon">备注</span>
                                    {{ form.remarks }}
                                    </div>
                                    {% for err in form.remarks.errors %}
                                        <div class="col-md-12">
                                            <p style="color: red" class="small">{{ err }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-9 padding-defined pull-left">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"> 应付金额</button>
                                        </span>
                                        {{ form.amount }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"> 优惠后金额</button>
                                        </span>
                                        {{ form.discount }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"> 余额消耗</button>
                                        </span>
                                        {{ form.balance }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-toggle="tooltip"
                                            title="积分兑换比率100:1"> 积分消耗(?)</button>
                                        </span>
                                        {{ form.score }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"> 本次付款</button>
                                        </span>
                                        {{ form.payment }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"> 本次欠款</button>
                                        </span>
                                        {{ form.debt }}
                                    </div>
                                </div>
                                <div class="col-md-5 padding-defined pull-left">
                                        {% for err in form.discount.errors %}
                                            <p style="color: red" class="small">{{ err }}</p>
                                        {% endfor %}
                                        {% for err in form.payment.errors %}
                                            <p style="color: red" class="small">{{ err }}</p>
                                        {% endfor %}
                                        {% for err in form.balance.errors %}
                                            <p style="color: red" class="small">{{ err }}</p>
                                        {% endfor %}
                                        {% for err in form.score.errors %}
                                            <p style="color: red" class="small">{{ err }}</p>
                                        {% endfor %}
                                        {% for err in form.debt.errors %}
                                            <p style="color: red" class="small">{{ err }}</p>
                                        {% endfor %}
                                </div>
                            </div>
                            <div class="box-footer">
                                {{ form.submit }}
                                <a href="{{ url_for('home.order_list') }}" class="btn btn-default pull-right"
                                   role="button"> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-order").addClass("active");
            $("#g-order-list").addClass("active");
            // 弹出提示初始化
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            //优惠后金额监听事件
            $("#discount").on("change", function () {
                $("#debt").val(calcDebt());
            });
            //本次付款监听事件
            $("#payment").on("change", function () {
                $("#debt").val(calcDebt());
            });
            //余额监听事件
            $("#balance").on("change", function () {
                $("#debt").val(calcDebt());
            });
            //积分监听事件
            $("#score").on("change", function () {
                $("#debt").val(calcDebt());
            });
        });

        // 计算欠款
        function calcDebt() {
            let discount = $("#discount").val() == "" ? 0 : parseFloat($("#discount").val());
            let payment = $("#payment").val() == "" ? 0 : parseFloat($("#payment").val());
            let balance = $("#balance").val() == "" ? 0 : parseFloat($("#balance").val());
            // SCORE X 100 = RMB
            let score = $("#score").val() == "" ? 0 : parseFloat($("#score").val()) * 0.01;
            let debt = discount - payment - balance - score;

            return debt;
        }
    </script>
{% endblock %}