{% extends 'base.html' %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 收银管理</a></li>
            <li class="active"> 收银单列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> 收银单列表</h3>
                        <div id="toolbar" class="box-tools">
                            <div class="pull-left border-right">
                                <a href="{{ url_for('home.order_edit', id='0') }}" class="btn btn-primary btn-sm" role="button">
                                    添加</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive" >
                        <table id="tb_order_list"></table>
                    </div>
                    {#                    <div class="box-body table-responsive no-padding">#}
                    {#                        <table id="ex1" class="table table-striped table-hover">#}
                    {#                            <tbody>#}
                    {#                            <tr>#}
                    {#                                <th> 单号</th>#}
                    {#                                <th> 开单人</th>#}
                    {#                                <th> 状态</th>#}
                    {#                                <th> 客户</th>#}
                    {#                                <th> 车牌</th>#}
                    {#                                <th> 手机</th>#}
                    {#                                <th> 总金额</th>#}
                    {#                                <th> 折扣</th>#}
                    {#                                <th> 欠款</th>#}
                    {#                                <th> 备注</th>#}
                    {#                                <th> 添加时间</th>#}
                    {#                                <th> 操作方式</th>#}
                    {#                            </tr>#}
                    {#                            {% for v in pagination.items %}#}
                    {#                                <tr>#}
                    {#                                    <td>{{ v.id }}</td>#}
                    {#                                    <td>{{ v.user.name }}</td>#}
                    {#                                    {% if v.status == 0 %}#}
                    {#                                    <td style="color: red">临时</td>#}
                    {#                                    {% else %}#}
                    {#                                    <td>正式</td>#}
                    {#                                    {% endif %}#}
                    {#                                    <td>{{ v.customer.name }}</td>#}
                    {#                                    <td>{{ v.customer.pnumber }}</td>#}
                    {#                                    <td>{{ v.customer.phone }}</td>#}
                    {#                                    <td>{{ v.amount }}</td>#}
                    {#                                    <td>{{ v.discount }}</td>#}
                    {#                                    {% if v.debt > 0 %}#}
                    {#                                    <td style="color:red;">{{ v.debt }}</td>#}
                    {#                                    {% else %}#}
                    {#                                    <td>{{ v.debt }}</td>#}
                    {#                                    {% endif %}#}
                    {#                                    <td>{{ v.remarks }}</td>#}
                    {#                                    <td>{{ v.addtime }}</td>#}
                    {#                                    <td>#}
                    {#                                        <a href="{{ url_for('home.order_view', id=v.id) }}" name="btn-detail"#}
                    {#                                           class="label order-view hide label-info">明细</a>&nbsp#}
                    {#                                        {% if v.status == 1%}#}
                    {#                                        <a href="{{ url_for('home.order_billing', id=v.id) }}" name="btn-billing"#}
                    {#                                           class="label order-billing hide label-default">历史</a>&nbsp#}
                    {#                                        {% endif %}#}
                    {#                                        {% if v.status == 1 and v.user_id == user.id %}#}
                    {#                                        <a href="{{ url_for('home.order_debt', id=v.id) }}" name="btn-detail"#}
                    {#                                           class="label order-debt hide label-warning">结款</a>&nbsp#}
                    {#                                        {% endif %}#}
                    {#                                        {% if v.status == 0 and v.user_id == user.id %}#}
                    {#                                        <a href="{{ url_for('home.order_edit', id=v.id) }}" name="btn-edit"#}
                    {#                                           class="label order-edit hide label-success">修改</a>&nbsp#}
                    {#                                        <a href="{{ url_for('home.order_del', id=v.id) }}" name="btn-stop"#}
                    {#                                           class="label order-del hide label-danger">删除</a>#}
                    {#                                        {% endif %}#}
                    {#                                    </td>#}
                    {#                                </tr>#}
                    {#                            {% endfor %}#}
                    {#                            </tbody>#}
                    {#                        </table>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        //当前点击行数据
        var oRow = null;
        //当前点击行索引
        var oIndex = null;

        $(document).ready(function () {
            //初始化Table
            var oTable = new TableInit();
            oTable.Init();

            $("#g-order").addClass("active");
            $("#g-order-list").addClass("active");
        })

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_order_list').bootstrapTable({
                    url: '{{ url_for('home.order_list') }}', //请求后台的URL（*）
                    method: 'POST',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    //sortName: "id",                     //排序字段
                    sortable: true,                     //是否启用排序
                    sortOrder: "desc",                   //排序方式
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 50,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,                //设置为 true启用全匹配搜索，否则为模糊搜索。
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    onClickCell :function(field, value, row, $element) {
                        oRow = row;
                        oIndex = $element.parent().data('index');
                    },
                    columns: [ {
                        field: 'id',
                        title: '单号',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'user_name',
                        title: '开单人',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'status',
                        title: '状态',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'customer_name',
                        title: '客户',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'pnumber',
                        title: '车牌',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'phone',
                        title: '手机',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'amount',
                        title: '总金额',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'discount',
                        title: '折扣',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'debt',
                        title: '欠款',
                        valign: 'middle',
                        sortable: true,
                        cellStyle:function (value, row, index) {
                            if (value > 0){
                                return {css:{color:'#FF0000'}};
                            }
                            else{
                                return {css:{color:'#000000'}};
                            }
                        }
                    }, {
                        field: 'remarks',
                        title: '备注',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'addtime',
                        title: '添加时间',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'operate',
                        title: '操作',
                        valign: 'middle',
                        formatter: operateFormatter //自定义方法，添加操作按钮
                    },]
                });
            };

            return oTableInit;
        };

        function operateFormatter(value, row, index) {//赋予的参数
            var operation = "";
            var roles = "{{ roles }}";
            var admin = "{{ session.get('is_admin')}}";
            var user_id = "{{ session.get('user_id') }}";

            if ((roles.match('order_view')||(admin == "1"))){
                operation += '<a href="/order/view/'+row.id+'" class="label label-info">明细</a>';
            }
            if(row.status == "正式"){
                if ((roles.match('order_billing')||(admin == "1"))){
                    operation += '<a href="/order/billing/'+row.id+'" class="label label-default">历史</a>';
                }
            }
            if((row.status == "正式")&&(row.user_id == user_id)){
                if ((roles.match('order_debt')||(admin == "1"))){
                    operation += '<a href="/order/debt/'+row.id+'" class="label label-warning">结款</a>';
                }
            }

            if((row.status == "临时")&&(row.user_id == user_id)){
                if ((roles.match('order_edit')||(admin == "1"))){
                    operation += '<a href="/order/edit/'+row.id+'" class="label label-success">修改</a>';
                }
                if ((roles.match('order_del')||(admin == "1"))){
                    operation += '<a href="/order/del/'+row.id+'" class="label label-danger">删除</a>';
                }
            }
            return operation;
        }

    </script>
{% endblock %}