{% extends 'base.html' %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 库存管理</a></li>
            <li class="active"> 报损单列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> 报损单列表</h3>
                        <div id="toolbar" class="box-tools">
                            <div class="pull-left border-right">
                                <a href="{{ url_for('home.stock_loss_edit', id=0) }}" class="btn stock_loss_edit hide btn-primary btn-sm" role="button">
                                    添加</a>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive" >
                        <table id="tb_loss_list"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        //当前点击行数据
        var oRow = null;
        //当前点击行索引
        var oIndex = null;
        //角色
        var roles = "{{ roles }}";
        var admin = "{{ session.get('is_admin')}}";
        var user_id = "{{ session.get('user_id') }}";

        $(document).ready(function () {
            //初始化Table
            var oTable = new TableInit();
            oTable.Init();

            $("#g-stock").addClass("active");
            $("#g-stock-loss-list").addClass("active");

            if ((roles.match('stock_loss_edit')||(admin == "1")) ){
                $('.stock_loss_edit').removeClass("hide");
            }
        })

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_loss_list').bootstrapTable({
                    url: '{{ url_for('home.stock_loss_list') }}', //请求后台的URL（*）
                    method: 'POST',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    //sortName: "id",                     //排序字段
                    sortable: true,                     //是否启用排序
                    sortOrder: "desc",                   //排序方式
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 50,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,                //设置为 true启用全匹配搜索，否则为模糊搜索。
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    onClickCell :function(field, value, row, $element) {
                        oRow = row;
                        oIndex = $element.parent().data('index');
                    },
                    columns: [ {
                        field: 'id',
                        title: '编号',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'user_name',
                        title: '报损员',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'status',
                        title: '状态',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'remarks',
                        title: '备注',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'addtime',
                        title: '添加时间',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'operate',
                        title: '操作',
                        valign: 'middle',
                        formatter: operateFormatter //自定义方法，添加操作按钮
                    },]
                });
            };
            return oTableInit;
        };

        function operateFormatter(value, row, index) {//赋予的参数
            var operation = "";
            if ((roles.match('stock_loss_view')||(admin == "1"))){
                operation += '<a href="/stock/loss/view/'+row.id+'" class="label label-info">明细</a>';
            }
            if((row.status == "临时")&&(row.user_id == user_id)){
                if ((roles.match('stock_loss_edit')||(admin == "1"))){
                    operation += '<a href="/stock/loss/edit/'+row.id+'" class="label label-success">修改</a>';
                }
                if ((roles.match('stock_loss_del')||(admin == "1"))){
                    operation += '<a href="/stock/loss/del/'+row.id+'" class="label label-danger">删除</a>';
                }
            }
            return operation;
        }

    </script>
{% endblock %}