{% extends 'base.html' %}
{% import 'ui/admin_page.html' as macros %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 库存管理</a></li>
            <li class="active"> 报损单列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> 报损单列表</h3>
                        <div class="box-tools">
                            <div class="pull-left border-right">
                                <a href="{{ url_for('home.stock_loss_edit', id=0) }}" class="btn btn-primary btn-sm" role="button">
                                    添加</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label for="input_name">临时 </label>
                                <input type="checkbox" id="status_check"
                                {% if status == 'true' %}
                                        checked
                                {% endif %}
                                >&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...  (单号/备注/日期)" id="search_key" value="{{ key }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="do_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table id="ex1" class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <th> 编号</th>
                                <th> 报损员</th>
                                <th> 状态</th>
                                <th> 备注</th>
                                <th> 添加时间</th>
                                <th> 操作方式</th>
                            </tr>
                            {% for v in pagination.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.user.name }}</td>
                                    {% if v.status == 0 %}
                                    <td style="color: red">临时</td>
                                    {% else %}
                                    <td>正式</td>
                                    {% endif %}
                                    <td>{{ v.remarks }}</td>
                                    <td>{{ v.addtime }}</td>
                                    <td>
                                        <a href="{{ url_for('home.stock_loss_view', id=v.id) }}" name="btn-detail"
                                           class="label stock-loss-view hide label-info">明细</a>&nbsp
                                        {% if v.status == 0 and v.user_id == user.id %}
                                        <a href="{{ url_for('home.stock_loss_edit', id=v.id) }}" name="btn-edit"
                                           class="label stock-loss-edit hide label-success">修改</a>&nbsp
                                        <a href="{{ url_for('home.stock_loss_del', id=v.id) }}" name="btn-stop"
                                           class="label stock-loss-del hide label-danger">删除</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {{ macros.pagination_widget(pagination, 'home.stock_loss_list', key=key, status=status) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-stock").addClass("active");
            $("#g-stock-loss-list").addClass("active");
            //只要遇到radio,checkbox 直接转换为icheck
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
            });
            // 搜索按钮
            $("#do_search").click(function () {
                var key = $("#search_key").val();
                var status_check = $("#status_check").is(':checked');
                location.href = "{{ url_for('home.stock_loss_list') }}?key=" + key + "&status=" + status_check;
            })
            $("#search_key").bind("keyup", function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    var key = $("#search_key").val();
                    var status_check = $("#status_check").is(':checked');
                    location.href = "{{ url_for('home.stock_loss_list') }}?key=" + key + "&status=" + status_check;
                }
            })
        })
    </script>
{% endblock %}