{% extends 'base.html' %}

{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 设置</a></li>
            <li class="active"> 会员卡列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> 会员卡列表</h3>
                        <div id="toolbar" class="box-tools">
                            <div class="pull-left border-right">
                                <a href="{{ url_for('admin.mscard_add') }}" class="btn hide mscard_add btn-primary btn-sm" role="button">
                                    添加</a>
                            </div>
                        </div>
                    </div>

                    <div class="box-body table-responsive" >
                        <table id="tb_mscards"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        //当前点击行数据
        var oRow = null;
        //当前点击行索引
        var oIndex = null;
        //角色
        var roles = "{{ roles }}";
        var admin = "{{ session.get('is_admin')}}";

        $(document).ready(function () {
            //初始化Table
            var oTable = new TableInit();
            oTable.Init();

            $("#g-option").addClass("active")
            $("#g-option-mscard").addClass("active")
            if ((roles.match('mscard_add')||(admin == "1")) ){
                $('.mscard_add').removeClass("hide");
            }

            var pendingRequests = {}
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                var key = options.url
                console.log(key)
                console.log(!pendingRequests[key])
                if (!pendingRequests[key]) {
                    pendingRequests[key] = jqXHR
                } else {
                    //jqXHR.abort();    //放弃后触发的提交
                    pendingRequests[key].abort()   // 放弃先触发的提交
                }

                var complete = options.complete
                options.complete = function (jqXHR, textStatus) {
                    pendingRequests[key] = null
                    if (jQuery.isFunction(complete)) {
                        complete.apply(this, arguments)
                    }
                }
            })
            {#Prefilters是一个预过滤器，在每个请求之前被发送和$.ajax()处理它们前处理。#}
            {#options 是请求的选项#}
            {#originalOptions 值作为提供给Ajax方法未经修改的选项，因此，没有ajaxSettings设置中的默认值#}
            {#jqXHR 是请求的jqXHR对象#}
            {#核心思想是维护一个队列，发送请求时，将请求加入队列，请求响应后，从队列中清除，这就保证了在任一时刻只能有一个同样的请求发送.#}
            {#调用abort后jquery会执行error的方法，抛出abort的异常信息。#}
            {#按钮每次点击都会向后端发送请求，下面的demo实现了多次点击按钮之后，只保证最后一次点击的请求能够成功。#}
            // 会员卡停用
            $(".box-body").delegate(".mscard-stop","click",function(){
                if (oRow.valid == "失效") {
                    return
                }
                $.ajax({
                    url: "{{ url_for('admin.mscard_block') }}",
                    type: "GET",
                    data: "msid=" + oRow.id,
                    dataType: "json",
                    success: function (result) {
                        if (result.valid == 0) {
                            // 停用成功
                            var parameter = {
                                index: oIndex,
                                field: 'valid',
                                value: '失效'
                            };
                            $('#tb_mscards').bootstrapTable('updateCell', parameter);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (errorThrown != 'abort') {
                            alert('失败了，您操作的太频繁');
                        }
                    }
                })
            });


            $("a[name='btn-block']").on("click", function () {
                //获取父元素第一个兄弟的text，就是id
                var msid = $(this).parent().siblings().first().text()
                //var x = $(this).parent().siblings().eq(0).text()//eq(0)也可以
                //获取状态，如果是失效直接返回不再提交
                if ($("#" + msid).text() == "失效") {
                    return
                }
                $.ajax({
                    url: "{{ url_for('admin.mscard_block') }}",
                    type: "GET",
                    data: "msid=" + msid,
                    dataType: "json",
                    success: function (result) {
                        if (result.valid == 0) {
                            // 停用成功
                            $("#" + msid).text("失效")
                            $("#" + msid).css("color","red");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (errorThrown != 'abort') {
                            alert('失败了，您操作的太频繁');
                        }
                    }
                })
            })
        })

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_mscards').bootstrapTable({
                    url: '{{ url_for('admin.mscard_list', type=type) }}', //请求后台的URL（*）
                    method: 'POST',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    //sortName: "id",                     //排序字段
                    sortable: true,                     //是否启用排序
                    sortOrder: "desc",                   //排序方式
                    sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 50,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                    search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,                //设置为 true启用全匹配搜索，否则为模糊搜索。
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    onClickCell :function(field, value, row, $element) {
                        oRow = row;
                        oIndex = $element.parent().data('index');
                    },
                    columns: [ {
                        field: 'id',
                        title: '编号',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'name',
                        title: '名称',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'payment',
                        title: '开卡金额',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'interval',
                        title: '有效期',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'scorerule',
                        title: '积分规则',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'scorelimit',
                        title: '积分上限',
                        valign: 'middle',
                        sortable: true
                    },{
                        field: 'valid',
                        title: '卡状态',
                        valign: 'middle',
                        sortable: true,
                        cellStyle:function (value, row, index) {
                            if (value =='失效'){
                                return {css:{color:'#FF0000'}};
                            }
                            else{
                                return {css:{color:'#000000'}};
                            }
                        }
                    }, {
                        field: 'addtime',
                        title: '添加时间',
                        valign: 'middle',
                        sortable: true
                    }, {
                        field: 'operate',
                        title: '操作',
                        valign: 'middle',
                        formatter: operateFormatter //自定义方法，添加操作按钮
                    },]
                });
            };

            return oTableInit;
        };

        function operateFormatter(value, row, index) {//赋予的参数
            var operation = "";
            if ((roles.match('msdetail_edit')||(admin == "1")) ){
                operation += '<a href="/admin/mscard/msdetail/edit/'+row.id+'" class="label label-info">套餐</a>';
            }
            if ((roles.match('mscard_edit')||(admin == "1")) ){
                operation += '<a href="/admin/mscard/edit/'+row.id+'" class="label label-success">修改</a>';
            }
            if ((roles.match('mscard_stop')||(admin == "1"))){
                operation += '<a name="btn-block" class="label mscard-stop label-danger">停用</a>';
            }
            return operation;
        }
    </script>
{% endblock %}