{% extends 'base.html' %}
{% import 'ui/admin_page.html' as macros %}

{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 设置</a></li>
            <li class="active"> 会员卡列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> 会员卡列表</h3>
                        <div class="box-tools">
                            <div class="pull-left border-right">
                                <a href="{{ url_for('admin.mscard_add') }}" class="btn btn-primary btn-sm" role="button">
                                    添加</a>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字..." id="search_key" value="{{ key }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="do_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <th> 编号</th>
                                <th> 名称</th>
                                <th> 开卡金额</th>
                                <th> 有效期</th>
                                <th> 积分规则</th>
                                <th> 积分上限</th>
                                <th> 卡状态</th>
                                <th> 添加时间</th>
                                <th> 操作事项</th>
                            </tr>
                            {% for v in pagination.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.payment }}</td>
                                    <td>{{ v.interval }} 月</td>
                                    <td>{{ v.scorerule }}</td>
                                    <td>{{ v.scorelimit }}</td>
                                    {% if v.valid == 1 %}
                                        <td id="{{ v.id }}">有效</td>
                                    {% else %}
                                        <td id="{{ v.id }}" style="color: red">失效</td>
                                    {% endif %}
                                    <td>{{ v.addtime }}</td>
                                    <td><a href="{{ url_for('admin.msdetail_edit', id=v.id) }}"
                                           class="label msdetail-edit hide label-info"> 套餐</a>
                                        &nbsp;
                                        <a href="{{ url_for('admin.mscard_edit', id=v.id) }}"
                                           class="label mscard-edit hide label-success"> 修改</a>
                                        &nbsp;
                                        <a name="btn-block" class="label mscard-stop hide label-danger"> 停用</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {{ macros.pagination_widget(pagination, 'admin.mscard_list', key=key) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-option").addClass("active")
            $("#g-option-mscard").addClass("active")
            // 搜索按钮
            $("#do_search").click(function () {
                var key = $("#search_key").val()
                location.href = "{{ url_for('admin.mscard_list') }}?key=" + key
            })
            $("#search_key").bind("keyup", function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    var key = $("#search_key").val()
                    location.href = "{{ url_for("admin.mscard_list") }}?key=" + key
                }
            })

            var pendingRequests = {}
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                var key = options.url
                console.log(key)
                console.log(!pendingRequests[key])
                if (!pendingRequests[key]) {
                    pendingRequests[key] = jqXHR
                } else {
                    //jqXHR.abort();    //放弃后触发的提交
                    pendingRequests[key].abort()   // 放弃先触发的提交
                }

                var complete = options.complete
                options.complete = function (jqXHR, textStatus) {
                    pendingRequests[key] = null
                    if (jQuery.isFunction(complete)) {
                        complete.apply(this, arguments)
                    }
                }
            })
            {#Prefilters是一个预过滤器，在每个请求之前被发送和$.ajax()处理它们前处理。#}
            {#options 是请求的选项#}
            {#originalOptions 值作为提供给Ajax方法未经修改的选项，因此，没有ajaxSettings设置中的默认值#}
            {#jqXHR 是请求的jqXHR对象#}
            {#核心思想是维护一个队列，发送请求时，将请求加入队列，请求响应后，从队列中清除，这就保证了在任一时刻只能有一个同样的请求发送.#}
            {#调用abort后jquery会执行error的方法，抛出abort的异常信息。#}
            {#按钮每次点击都会向后端发送请求，下面的demo实现了多次点击按钮之后，只保证最后一次点击的请求能够成功。#}
            // 会员卡停用
            $("a[name='btn-block']").on("click", function () {
                //获取父元素第一个兄弟的text，就是id
                var msid = $(this).parent().siblings().first().text()
                //var x = $(this).parent().siblings().eq(0).text()//eq(0)也可以
                //获取状态，如果是失效直接返回不再提交
                if ($("#" + msid).text() == "失效") {
                    return
                }
                $.ajax({
                    url: "{{ url_for('admin.mscard_block') }}",
                    type: "GET",
                    data: "msid=" + msid,
                    dataType: "json",
                    success: function (result) {
                        if (result.valid == 0) {
                            // 停用成功
                            $("#" + msid).text("失效")
                            $("#" + msid).css("color","red");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (errorThrown != 'abort') {
                            alert('失败了，您操作的太频繁');
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}