{% extends 'base.html' %}

{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 设置</a></li>
            <li><a href="{{ url_for('admin.mscard_list') }}"> 会员卡</a></li>
            <li class="active"> 添加会员卡</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> 添加会员卡</h3>
                    </div>
                    <form role="form" method="post">
                        <!--启动CSRF-->
                        {{ form.hidden_tag() }}
                        <div class="box-body">
                            <div class="form-group">
                                <label for="input_name" style="color: red">*</label>
                                {{ form.name.label }}
                                {{ form.name }}
                                {% for err in form.name.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_payment" style="color: red">*</label>
                                {{ form.payment.label }}
                                {{ form.payment }}
                                {% for err in form.payment.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_interval" style="color: red">*</label>
                                {{ form.interval.label }}
                                <label for="input_interval" class="badge bg-green" data-toggle="tooltip"
                                       title="单位：月">?</label>
                                {{ form.interval }}
                                {% for err in form.interval.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_scorerule" style="color: red">*</label>
                                {{ form.scorerule.label }}
                                <label for="input_scorerule" class="badge bg-green" data-toggle="tooltip"
                                       title="会员：积分=消费金额*积分规则;普通用户:积分=消费金额*0.8">?</label>
                                {{ form.scorerule }}
                                {% for err in form.scorerule.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_scorelimit" style="color: red">*</label>
                                {{ form.scorelimit.label }}
                                <label for="input_scorerule" class="badge bg-green" data-toggle="tooltip"
                                       title="积分积攒到上限，可消耗积分额度升级会员卡等级">?</label>
                                {{ form.scorelimit }}
                                {% for err in form.scorelimit.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_valid" style="color: red">*</label>
                                {% for valid in form.valid %}
                                    {{ valid }}
                                    {% if valid.data == 1 %}
                                        <label for="input_valid">有效</label>
                                    {% else %}
                                        <label for="input_valid">失效</label>
                                    {% endif %}
                                {% endfor %}
                                {% for err in form.valid.errors %}
                                    <div class="col-md-12">
                                        <p style="color: red">{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-footer">
                            {{ form.submit }}
                            <a href="{{ url_for('admin.mscard_list') }}" class="btn btn-default pull-right"
                               role="button"> 返回</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-option").addClass("active");
            $("#g-option-mscard").addClass("active");
            // 弹出提示初始化
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            //只要遇到radio,checkbox 直接转换为icheck
            $('input[type="checkbox"], input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue'
            })
        })
    </script>
{% endblock %}