{% extends 'base.html' %}
{% block css %}
    <style>
        .padding-defined {
            padding-left: 10px;
            padding-right: 0px;
        }

        .fixed-table-container{
            height: 385px !important;
            padding-bottom: 40px !important;
        }
    </style>
{% endblock %}

{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 设置</a></li>
            <li><a href="{{ url_for('admin.mscard_list') }}"> 会员卡</a></li>
            <li class="active"> 编辑会员卡套餐</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"> 编辑<strong>{{ mscard.name }}</strong>套餐</h3>
                        <div class="pull-right">总行数：<strong id="cnt">{{ form_count }}</strong>/<strong>20</strong>
                        </div>
                    </div>
                    <form role="form" method="post">
                        <!--启动CSRF-->
                        {{ form.hidden_tag() }}
                        <div class="box-body" id="inputs">
                            <div class="row" style="margin-bottom: 5px">
                                <div class="col-md-3 padding-defined">
                                    <label for="input_url" style="color: red">*</label>
                                    <label> 商品/服务</label>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <label> 原售价</label>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <label for="input_url" style="color: red">*</label>
                                    <label> 优惠价</label>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <label for="input_url" style="color: red">*</label>
                                    <label> 次数</label>
                                </div>
                                <div class="col-md-2 padding-defined">
                                    <label for="input_url" style="color: red">*</label>
                                    <label> 有效期</label>
                                    <label for="input_interval" class="badge bg-green" data-toggle="tooltip"
                                           title="月">?</label>
                                </div>
                                <div class="col-md-1" style="padding-left: 5px">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" id="row-plus">
                                        <i class="fa fa-plus-square fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            {% for v in form.inputrows %}
                                <div class="row">
                                    <div class="col-md-3 padding-defined">
                                        <div class="input-group">
                                            <input id="inputrows-{{ loop.index0 }}-item_id"
                                                   name="inputrows-{{ loop.index0 }}-item_id" type="hidden"
                                                   value="{{ v.data.item_id or '' }}">
                                            <input id="inputrows-{{ loop.index0 }}-item_name"
                                                   name="inputrows-{{ loop.index0 }}-item_name" type="text" class="form-control"
                                                   placeholder="请选择商品/服务" readonly
                                                   value="{{ v.data.item_name or '' }}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" name="item_choice" loop_index="{{ loop.index0 }}" style="border-radius: 0">
                                                    物
                                                </button>
                                                <button class="btn btn-default" type="button" name="service_choice" loop_index="{{ loop.index0 }}" style="border-radius: 0">
                                                    服
                                                </button>
                                            </span>
                                        </div>
                                        {% for err in v.item_id.errors %}
                                            <div class="col-md-12">
                                                <p style="color: red" class="small">{{ err }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-2 padding-defined">
                                        <div class="form-group">
                                            <input id="inputrows-{{ loop.index0 }}-salesprice"
                                                   name="inputrows-{{ loop.index0 }}-salesprice" class="form-control"
                                                   placeholder="原售价" type="text" value="{{ v.data.salesprice or '' }}"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2 padding-defined">
                                        <div class="form-group">
                                            <input id="inputrows-{{ loop.index0 }}-discountprice"
                                                   name="inputrows-{{ loop.index0 }}-discountprice" class="form-control"
                                                   placeholder="优惠价" type="text" value="{{ v.data.discountprice or '' }}">
                                            {% for err in v.discountprice.errors %}
                                                <div class="col-md-12">
                                                    <p style="color: red" class="small">{{ err }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-2 padding-defined">
                                        <div class="form-group">
                                            <input id="inputrows-{{ loop.index0 }}-quantity"
                                                   name="inputrows-{{ loop.index0 }}-quantity" class="form-control"
                                                   placeholder="次数" type="text" value="{{ v.data.quantity or '' }}">
                                            {% for err in v.quantity.errors %}
                                                <div class="col-md-12">
                                                    <p style="color: red" class="small">{{ err }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-2 padding-defined">
                                        <div class="form-group">
                                            <input id="inputrows-{{ loop.index0 }}-interval"
                                                   name="inputrows-{{ loop.index0 }}-interval" class="form-control"
                                                   placeholder="有效期(月)" type="text" value="{{ v.data.interval or '' }}">
                                            {% for err in v.interval.errors %}
                                                <div class="col-md-12">
                                                    <p style="color: red" class="small">{{ err }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="padding-left: 5px">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                                name="row-minus">
                                            <i class="fa fa-minus-square fa-lg" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="box-footer">
                            {{ form.submit }}
                            <a href="{{ url_for('admin.mscard_list') }}" class="btn btn-default pull-right"
                               role="button"> 返回</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 服务选择模态框!-->
        <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="serviceModalLabel"> 服务选择</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table id="services"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 商品选择模态框!-->
        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="itemModalLabel"> 商品选择</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table id="items"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-option").addClass("active");
            $("#g-option-mscard").addClass("active");
            // 弹出提示初始化
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            let MaxInputs = 20; //maximum input boxes allowed
            let InputsWrapper = $("#inputs"); //Input boxes wrapper ID
            let id_ins = {{ form_count }}; //initlal text box count
            let row_ins = {{ form_count }};
            //只有一个+，可以通过ID获取
            $('#row-plus').on('click', (function (e) //on add input button click
            {
                if (row_ins < MaxInputs) //max input box allowed
                {
                    InputsWrapper.append('<div class="row">\n' +
                        '                                    <div class="col-md-3 padding-defined">\n' +
                        '                                       <div class="input-group">\n' +
                        '                                            <input id="inputrows-' + id_ins + '-item_id"\n' +
                        '                                                   name="inputrows-' + id_ins + '-item_id" type="hidden">\n' +
                        '                                            <input id="inputrows-' + id_ins + '-item_name"\n' +
                        '                                               name="inputrows-' + id_ins + '-item_name" type="text" class="form-control"\n' +
                        '                                                   placeholder="请选择商品/服务" readonly>\n' +
                        '                                          <span class="input-group-btn">\n' +
                        '                                                <button class="btn btn-default" type="button" name="item_choice" loop_index="' + id_ins + '" style="border-radius: 0">\n' +
                        '                                                    物\n' +
                        '                                                </button>\n' +
                        '                                                <button class="btn btn-default" type="button" name="service_choice" loop_index="' + id_ins + '" style="border-radius: 0">\n' +
                        '                                                    服\n' +
                        '                                                </button>\n' +
                        '                                            </span>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-2 padding-defined">\n' +
                        '                                        <div class="form-group">\n' +
                        '                                            <input id="inputrows-' + id_ins + '-salesprice"\n' +
                        '                                                   name="inputrows-' + id_ins + '-salesprice" class="form-control"\n' +
                        '                                                   placeholder="原售价" type="text" readonly>\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-2 padding-defined">\n' +
                        '                                        <div class="form-group">\n' +
                        '                                            <input id="inputrows-' + id_ins + '-discountprice"\n' +
                        '                                                   name="inputrows-' + id_ins + '-discountprice" class="form-control"\n' +
                        '                                                   placeholder="优惠价" type="text" >\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-2 padding-defined">\n' +
                        '                                        <div class="form-group">\n' +
                        '                                            <input id="inputrows-' + id_ins + '-quantity"\n' +
                        '                                                   name="inputrows-' + id_ins + '-quantity" class="form-control"\n' +
                        '                                                   placeholder="次数" type="text">\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-2 padding-defined">\n' +
                        '                                        <div class="form-group">\n' +
                        '                                            <input id="inputrows-' + id_ins + '-interval"\n' +
                        '                                                   name="inputrows-' + id_ins + '-interval" class="form-control"\n' +
                        '                                                   placeholder="有效期(月)" type="text">\n' +
                        '                                        </div>\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-md-1" style="padding-left: 5px">\n' +
                        '                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"\n' +
                        '                                                name="row-minus">\n' +
                        '                                            <i class="fa fa-minus-square fa-lg" aria-hidden="true"></i>\n' +
                        '                                        </button>\n' +
                        '                                    </div>\n' +
                        '                                </div>');

                    id_ins++; //这个要放到select2监听后面，否则id错误
                    row_ins++;
                    $("#cnt").text(row_ins)//显示总行数
                }
                return false;
            }));
            // 监听函数，是在网页加载的时候就指定了对象。通过jQuery动态生成的元素是没办法匹配的，因此要找到原来加载的元素通过委托的方式处理
            $("#inputs").on("click", "button[name='row-minus']", function () {
                if (row_ins > 1) {
                    $(this).parent('div').parent('div').remove(); //remove text box
                    row_ins--; //decrement textbox
                    $("#cnt").text(row_ins) //显示总行数
                }
                return false;
            });

            let loop_index;
            $("#inputs").on("click", "button[name='service_choice']", function () {
                let url = "{{ url_for('admin.modal_service') }}";
                card_modal_service(url);
                //显示modal
                $('#serviceModal').modal();
                // 获取loop_index
                loop_index = $(this).attr('loop_index');
            });

            //modal_service高亮事件
            $("#services").on("mouseenter", "tr", function () {
                $(this).addClass("danger");
            });
            //modal_service高亮事件
            $("#services").on("mouseleave", "tr", function () {
                $(this).removeClass("danger");
            });
            //modal_service点击事件
            $("#services").on("dblclick", "tr", function () {
                let item_id = $(this).find("td:eq(0)").text();
                let item_name = $(this).find("td:eq(1)").text();
                let salesprice = $(this).find("td:eq(4)").text();

                $("#serviceModal").modal("hide");
                // 给输入框赋值
                let input_item_id = $("#" + 'inputrows-' + loop_index + '-item_id');
                input_item_id.val(item_id);
                let input_item_name = $("#" + 'inputrows-' + loop_index + '-item_name');
                input_item_name.val(item_name);
                let input_salesprice = $("#" + 'inputrows-' + loop_index + '-salesprice');
                input_salesprice.val(salesprice);
            });
            //////////////商品与服务分隔
            $("#inputs").on("click", "button[name='item_choice']", function () {
                let url = "{{ url_for('admin.modal_item') }}";
                card_modal_item(url);
                //显示modal
                $('#itemModal').modal();
                // 获取loop_index
                loop_index = $(this).attr('loop_index');
            });

            //modal_item高亮事件
            $("#items").on("mouseenter", "tr", function () {
                $(this).addClass("danger");
            });
            //modal_item高亮事件
            $("#items").on("mouseleave", "tr", function () {
                $(this).removeClass("danger");
            });
            //modal_item点击事件
            $("#items").on("dblclick", "tr", function () {
                let item_id = $(this).find("td:eq(0)").text();
                let item_name = $(this).find("td:eq(1)").text();
                let salesprice = $(this).find("td:eq(4)").text();

                $("#itemModal").modal("hide");
                // 给输入框赋值
                let input_item_id = $("#" + 'inputrows-' + loop_index + '-item_id');
                input_item_id.val(item_id);
                let input_item_name = $("#" + 'inputrows-' + loop_index + '-item_name');
                input_item_name.val(item_name);
                let input_salesprice = $("#" + 'inputrows-' + loop_index + '-salesprice');
                input_salesprice.val(salesprice);
            });

            {#Prefilters是一个预过滤器，在每个请求之前被发送和$.ajax()处理它们前处理。#}
            {#options 是请求的选项#}
            {#originalOptions 值作为提供给Ajax方法未经修改的选项，因此，没有ajaxSettings设置中的默认值#}
            {#jqXHR 是请求的jqXHR对象#}
            {#核心思想是维护一个队列，发送请求时，将请求加入队列，请求响应后，从队列中清除，这就保证了在任一时刻只能有一个同样的请求发送.#}
            {#调用abort后jquery会执行error的方法，抛出abort的异常信息。#}
            {#按钮每次点击都会向后端发送请求，下面的demo实现了多次点击按钮之后，只保证最后一次点击的请求能够成功。#}
            let pendingRequests = {};
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                let key = options.url;
                console.log(key);
                console.log(!pendingRequests[key]);
                if (!pendingRequests[key]) {
                    pendingRequests[key] = jqXHR
                } else {
                    //jqXHR.abort();    //放弃后触发的提交
                    pendingRequests[key].abort()   // 放弃先触发的提交
                }

                let complete = options.complete;
                options.complete = function (jqXHR, textStatus) {
                    pendingRequests[key] = null;
                    if (jQuery.isFunction(complete)) {
                        complete.apply(this, arguments)
                    }
                }
            });

        });

    </script>
{% endblock %}