{% extends 'base.html' %}
{% import 'ui/admin_page.html' as macros %}
{% block page_content %}
    <section class="content-header">
        <h1> 门店管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 商品服务管理</a></li>
            <li class="active">
                供应商列表
            </li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            供应商列表
                        </h3>
                        <div class="box-tools">
                            <div class="pull-left border-right">
                                <input type="button" id="exportData" class="btn btn-primary btn-sm" value="导出"/>
                                <a href="{{ url_for('admin.supplier_add') }}" class="btn btn-primary btn-sm" role="button">
                                    添加</a>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="input-group input-group-sm" style="width: 330px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...  (名称/联系人/手机/电话/QQ/备注)" id="search_key" value="{{ key }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="do_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-body table-responsive no-padding" >
                        <table id="supplier_list" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th> 编号</th>
                                <th> 名称</th>
                                <th> 联络人</th>
                                <th> 手机</th>
                                <th> 联系电话</th>
                                <th> QQ</th>
                                <th> 地址</th>
                                <th> 状态</th>
                                <th> 备注</th>
                                <th> 操作事项</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for v in pagination.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.contact }}</td>
                                    <td>{{ v.phone }}</td>
                                    <td>{{ v.tel }}</td>
                                    <td>{{ v.qq }}</td>
                                    <td>{{ v.address }}</td>
                                    {% if v.valid == 1 %}
                                        <td id="{{ v.id }}"> 有效</td>
                                    {% else %}
                                        <td id="{{ v.id }}" style="color: red"> 无效</td>
                                    {% endif %}
                                    <td>{{ v.remarks }}</td>
                                    <td>
                                        <a href="{{ url_for('admin.supplier_edit', id=v.id) }}"
                                           class="label supplier_edit hide label-success">修改</a>
                                        <a name="btn-block"
                                           class="label supplier_stop hide label-danger">停用</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {{ macros.pagination_widget(pagination, 'admin.supplier_list', key=key) }}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>

        $(function () {
            $('#supplier_list').DataTable({
                "language": {
                    "processing": "加载中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有找到相应的结果",
                    "info": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条记录",
                    "infoEmpty": "第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "searchPlaceholder": "请输入要搜索内容...",
                    "url": "",
                    "thousands": "'",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    }
                },
                "searching": false, // 是否允许检索
                "ordering": true,  // 是否允许排序
                "info": false, // 是否显示情报 就是"当前显示1/100记录"这个信息
                "paging": false, // 是否允许翻页，设成false，翻页按钮不显示
                "scrollX": false, // 水平滚动条
                "scrollY": false,  // 垂直滚动条
                "lengthChange": false, //更改表的分页显示长度 默认true
                "lengthMenu": [10, 25, 50, 75, 100], // 每页显示数选择下拉框内容
                "pageLength": 50, // 每页的初期件数 用户可以操作lengthMenu上的值覆盖
                //翻页按钮样式
                // numbers:数字
                // simple:前一页，后一页
                // simple_numbers:前一页，后一页，数字
                // full:第一页，前一页，后一页，最后页
                // full_numbers:第一页，前一页，后一页，最后页，数字
                // first_last_numbers:第一页，最后页，数字
                "pagingType": "full_numbers",
                "stripeClasses": ['strip1', 'strip2', 'strip3'], // 行样式应用 指定多个的话，第一行tr的class为strip1，第二行为strip2，第三行为strip3.
                "autoWidth": true,  // 自动列宽
                "processing": true // 是否表示 "processing" 加载中的信息，这个信息可以修改
            });
        })

        $(document).ready(function () {
            $("#g-option").addClass("active");
            $("#g-option-supplier").addClass("active");
            // 搜索按钮
            $("#do_search").click(function () {
                var key = $("#search_key").val();
                location.href = "{{ url_for('admin.supplier_list') }}?key=" + key;
            })
            $("#search_key").bind("keyup", function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    var key = $("#search_key").val();
                    location.href = "{{ url_for('admin.supplier_list') }}?key=" + key;
                }
            })
            // 供应商停用(使用post)
            $("a[name='btn-block']").on("click", function () {
                //获取父元素第一个兄弟的text，就是id
                var supid = $(this).parent().siblings().first().text()
                //var x = $(this).parent().siblings().eq(0).text()//eq(0)也可以
                //获取状态，如果是失效直接返回不再提交
                if ($("#" + supid).text() == "失效") {
                    return
                }
                $.ajax({
                    url: "{{ url_for('admin.supplier_block') }}",
                    type: "post",
                    data: {
                        'supid': supid,
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.valid == 0) {
                            // 停用成功
                            $("#" + supid).text("失效");
                            $("#" + supid).css("color","red");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (errorThrown != 'abort') {
                            alert('失败了，您操作的太频繁');
                        }
                    }
                })
            })

            $("#exportData").click(function(){
                //后台请求返回供应商列表
                $.ajax({
                    type:'POST',
                    url:'{{ url_for('admin.supplier_get') }}',
                    data:'',
                    contentType:'application/json; charset=UTF-8',
                    dataType: 'json',
                    success:function(res){
                        if(res == null){
                            return;
                        }
                        else {
                            {#var dataJson = JSON.parse(res);#}
                            JSONToExcelConvertor("供应商列表",res);
                        }
                    },
                })

            });
        })
    </script>
{% endblock %}